.ProseMirror h1 {
    font-size: 34px;
}

.ProseMirror h2 {
    font-size: 30px;
}

.ProseMirror h3 {
    font-size: 26;
}

.ProseMirror h4 {
    font-size: 22;
}

.ProseMirror h5 {
    font-size: 18;
}

.ProseMirror h6 {
    font-size: 14;
}

.ProseMirror>*+* {
    margin-top: 0.75em;
}

.ProseMirror {
    margin-right: 0.75em;
    margin-left: 0.75em;
    padding: 1.75em;

}


.ProseMirror ul,
.ProseMirror ol {
    padding: 0 1rem;
}

/* Unordered list style */
.ProseMirror ul {
    list-style-type: disc;
    /* default bullet style */
}

.ProseMirror ul ul {
    list-style-type: circle;
    /* nested bullet style */
}

.ProseMirror ul ul ul {
    list-style-type: square;
    /* third-level nested bullet style */
}

/* Ordered list style */
.ProseMirror ol {
    list-style-type: decimal;
    /* default ordered list style */
}

.ProseMirror ol ol {
    list-style-type: lower-alpha;
    /* nested ordered list style */
}

.ProseMirror ol ol ol {
    list-style-type: lower-roman;
    /* third-level nested ordered list style */
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    line-height: 1.1;
}

.ProseMirror pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}



.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
    /* Converted #0D0D0D to rgba */
}

.ProseMirror hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    /* Converted #0D0D0D to rgba */
    margin: 2rem 0;
}