@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https: //fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.rs-table .rs-table-row-header :last-child{
    background-color: #D9D9D9;
}



.rs-table .rs-table-cell-header{
    font-size: 18px;
    color: black;
    font-weight: 600;
    
    font-family: 'Roboto';
    
}

.rs-table .rs-table-row{
    font-size: 16px;
    color: black;
    font-family: "Roboto";
    border-bottom: .5px solid #b3b3b3;

}

.rs-table .rs-table-row .rs-table-cell-content{
    border-left: .5px solid #b3b3b3;
 
}

.rs-table .rs-table-cell-header :last-child {
    border-right: 1px solid #b3b3b3 !important;
   
   
}

.rs-table{
    border: .5px solid #b3b3b3  !important;
}